.newsletter {
  padding-top: 52px;
  padding-bottom: 150px;
}

.newsletter__content {
  display: flex;
  justify-content: space-between;

  padding: 0 133px;
  padding-top: 338px;
  padding-bottom: 178px;

  background-image: url('../../img/newsletter/subscribe-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border-radius: 8px;

  position: relative;
}

.newsletter__text {
  max-width: 370px;
}

.newsletter__title {
  margin-bottom: 40px;

  font-size: 64px;
  line-height: 80px;

  color: var(--white-color);
}

.newsletter__descr {
  font-family: 'SFCompactText', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;

  color: var(--white-color);
}

.newsletter__form {
  position: absolute;
  bottom: -96px;
  right: 133px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 501px;
  height: 416px;

  padding-top: 53px;

  background-color: var(--white-color);
  border-radius: 8px;
}

.subscribe-form__field {
  width: calc(100% - (72px * 2));
  padding: 25px 0;

  border: none;
  border-bottom: 1px solid rgba(28, 46, 61, 0.3);

  font-size: 11px;
  letter-spacing: 2px;

  color: var(--dark-color);
  text-align: center;
  text-transform: uppercase;
}

.subscribe-form__btn {
  width: 100%;
  margin-top: 74px;
  padding: 41px 80px;

  background-color: var(--neptune-color);
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  transition: background-color 0.3s;
}

.subscribe-form__btn:hover {
  background-color: var(--neptune-hover-color);

  transition: background-color 0.3s;
}
